*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    color: white;
}

*::selection{
    background-color:var(--color-hv) ;
}
:root{

    --color-zaffre:#0818A8;
    --color-oxford:#011638;
    --color-emerald:#23CE6B;
        --color-efect:#0ef;
        --color-contrast:  #081b29;
    --nav-bg:#1c2754;
    --color-hv:#17acc9;
    --bg-primary:#080c2b;            
    --bg-secondary:#080d36;
    --bg-dark-blue:hwb(233 3% 83%);
    /* --bg-scroll:#004480; */
    
}
.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-bg);
}

body::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    background-color: var(--bg-secondary); 
    /* color: red; */
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-hv);
     /* Color del thumb */
    border-radius: 5px; /* Radio de borde del thumb */

  }
  

  

nav{
    width: 100%;
    height: 4rem;
    background-color: var(--nav-bg);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 15px ;
   
}

.offcanvas{
    background: var(--color-contrast);
   
}
.offcanvas-header{background-color: var(--nav-bg);}

.close {
    border: none;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
   padding: 0;
}

.close i{
    color: white;
    padding:0px 5px;
    /* background-color: #1b6fee; */
    
}

.offcanvas-header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.nav-menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    /* gap:1rem; */
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    padding: 0;
}



.nav-menu li {
    width: 100%;
    border-bottom: 1px solid white;
    padding:.5rem  0px ;
}

.nav-menu li > a {
    color: aliceblue;
    text-decoration: none;
    padding: .5rem;
}

p{
    margin: 0;
}
.logout{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    gap: 5px;
    transition: .3s;
    /* border: 1px solid white; */
}
.logout p {
    font-size: 20px;
    transition: .3s;
}
.logout i{
    font-size: 27px;
    margin-right: 3px;
    transition: .3s;

}

.logout:hover p, .logout:hover i{
    color: #17acc9;
}

nav img{
    height: 100%;
    transform: translateX(50%);
    /* padding-block: 5px; */
}
nav i {
    cursor: pointer;
    transition: 0.3s;
    font-size: 30px;
}
#hide{
    width: 5%;
}

.pre-info-container{
    display: flex;
background-color: var(--color-oxford);

padding: 3rem;
flex-direction: column;
align-items: center;
gap: .8rem;

}



.info-cards{    
    /* gap: 1px; */
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px 12px;
    /* background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */

    /* height: 300px; */
    text-align: center;
    /* background: #091b2873; */
    
    border: 2px solid var(--color-efect);
    background-color: hwb(233 3% 83%);

}
.info-cards h2 {
    color: var(--color-efect);
    font-size: 25px;
    /* margin: 0; */
}

.info-cards i {
    padding: 0;
    font-size: 60px;
    text-align: center;
}
.info-cards p {
    font-size: 16px;
    text-align: justify;

}
    
.offer{
    background-color: var(--bg-secondary);
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;

}

.offer-item{
    margin: 15px 0px;
    width: 430px;
    background-color: var(--nav-bg);
    background-color: var(--color-oxford);
    display: flex;
    flex-direction: column;
    border:1px solid var(--color-zaffre);
    /* box-shadow: 0 0 6px 2px  var(--color-zaffre); */
}

.offer-item article {
    padding: 1.3rem;

}

.offer-item article > h4{
    margin: 10px 0px;
    font-size: 22px;
    text-transform: uppercase;
    }

.offer-item article > p{
text-align: justify;
}

.card-services{
    max-width: 370px;
    margin: 10px;
}

.services{
    background: var(--bg-primary);
    background: var(--bg-dark-blue);
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;

   
}

.service-article{
    background-color: var(--nav-bg);
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.services-div > img{
    width: 100%;
    object-fit: contain;

}

.accounts-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.account{
padding: 1rem;
width: 300px;
height: 150px;
background-color: var(--nav-bg);
border-radius: 15px;
box-shadow: 0 0 8px #0ef ;
display: flex;
flex-direction: column;
text-align: center;
/* gap: .2rem; */
font-size: 17px;
border: 1px solid var(--bg-secondary);

}

.account > div{
    display: flex;
   justify-content: space-around;
   /* text-align: center; */

}

.account > div > h4{
    margin: 0;
    line-height: 2;
}

.account-number{
    font-size: 27px;
    margin: 0;

}
.amount {
    color: #0ef;
    font-size: 25px!important;
}

.new-account{
    background-color:var(--color-hv);
    padding: 10px;
    border: none;
    border-radius: 50px;
    border: .5px solid var(--bg-secondary);
    box-shadow: 0 0 8px rgba(218, 215, 215, 0.6) ;

}

.t-head{
    text-align: center;
    background-color: var(--nav-bg)!important;
    color: white!important;
}

footer{
    min-height: 60px;
    background-color: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}


.loan__container{
    padding: 1rem;
    background: var(--bg-secondary);
}

.loan__content{
    padding: .5rem;
    /* background-color: var(--color-contrast); */
    /* background-color: #0D47A1; */
    /* background-color: #310aa5; */
    /* background-color: #081b29; */
    /* background: radial-gradient(ellipse at center top, #0D47A1, #081b29); */
    background: linear-gradient(to bottom,  #0D47A1, #081b29);
    height: 10rem;
    border-radius: 10px;
}

/* .table-loan{
    width: 100%;
    background-color: transparent!important;
    display: flex;
    flex-direction: column;

} */

.loan-item{
    background-color: transparent!important;
    text-align: center;
    border-bottom: 1px solid white;
    border-bottom-width:.5px!important ;
}



/* slider css   */

.slider{
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    -webkit-animation:scroll 40s linear infinite;
    animation: scroll 10s linear infinite;
    width: calc(120px * 12);
}

.slider .slide{
    width: 120px;
}

.slider .slide i {
    font-size: 60px;
}


@keyframes scroll {

    0%{
        -webkit-transform:  translateX(0);
        transform:  translateX(0);

    }

    100%{
        -webkit-transform:  translateX(calc(-120px * 6));
        transform:  translateX(calc(-120px * 6));

    }

    
}