*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    color: white;
}

*::selection{
    background-color:var(--color-hv) ;
}
:root{

    --color-zaffre:#0D21A1;
    --color-oxford:#011638;
    --color-emerald:#23CE6B;
        --color-efect:#0ef;
        --color-contrast:  #081b29;
    --nav-bg:#1c2754;
    --color-hv:#17acc9;
    --bg-primary:#080c2b;            
    --bg-secondary:#080d36;
    /* --bg-scroll:#004480; */
    
}
.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-bg);
}

body::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    background-color: var(--bg-secondary); 
    /* color: red; */
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-hv);
     /* Color del thumb */
    border-radius: 5px; /* Radio de borde del thumb */

  }
  

  

nav{
    width: 100%;
    height: 4rem;
    background-color: var(--nav-bg);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 15px ;
   
}

.offcanvas{
    background: var(--color-contrast);
   
}
.offcanvas-header{background-color: var(--nav-bg);}

.close {
    border: none;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
   padding: 0;
}

.close i{
    color: white;
    padding:0px 5px;
    /* background-color: #1b6fee; */
    
}

.offcanvas-header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.nav-menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    /* gap:1rem; */
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    padding: 0;
}



.nav-menu li {
    width: 100%;
    border-bottom: 1px solid white;
    padding:.5rem  0px ;
}

.nav-menu li > a {
    color: aliceblue;
    text-decoration: none;
    padding: .5rem;
}

p{
    margin: 0;
}
.logout{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    gap: 5px;
    transition: .3s;
    /* border: 1px solid white; */
}
.logout p {
    font-size: 20px;
    transition: .3s;
}
.logout i{
    font-size: 27px;
    margin-right: 3px;
    transition: .3s;

}

.logout:hover p, .logout:hover i{
    color: #17acc9;
}

nav img{
    height: 100%;
    transform: translateX(50%);
    /* padding-block: 5px; */
}
nav i {
    cursor: pointer;
    transition: 0.3s;
    font-size: 30px;
}
#hide{
    width: 5%;
}

.pre-info-container{
    display: flex;
background-color: var(--color-contrast);
padding: 3rem;
flex-direction: column;
align-items: center;
gap: .8rem;

}

.pre-info{
    background-color: var(--bg-section);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    min-width: 310px;
    
    box-shadow: 0 0 8px #0ef ;
}

.info-cards{    
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
    /* background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%,
                             rgba(255, 255, 255, 0) 50%,
                             
                               var(--bg-primary) 50%,
                               var(--bg-primary) 100%);
    height: 300px;
    text-align: justify;
}
.info-cards h2 {
    font-size: 26px;
    /* margin: 0; */
}

.info-cards i {
    padding: 0;
    font-size: 60px;
    text-align: center;
}
.info-cards p {
    font-size: 17px;
}
    
.offer{
    background-color: var(--bg-secondary);
    /* border: 3px solid red; */
}
.services{
    background: var(--bg-primary);
   
}

.accounts-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.account{
padding: 1rem;
width: 300px;
height: 150px;
background-color: var(--nav-bg);
border-radius: 15px;
box-shadow: 0 0 8px #0ef ;
display: flex;
flex-direction: column;
text-align: center;
/* gap: .2rem; */
font-size: 17px;
border: 1px solid var(--bg-secondary);

}

.account > div{
    display: flex;
   justify-content: space-around;
   /* text-align: center; */

}

.account > div > h4{
    margin: 0;
    line-height: 2;
}

.account-number{
    font-size: 27px;
    margin: 0;

}
.amount {
    color: #0ef;
    font-size: 25px!important;
}

.new-account{
    background-color:var(--color-hv);
    padding: 10px;
    border: none;
    border-radius: 50px;
    border: .5px solid var(--bg-secondary);
    box-shadow: 0 0 8px rgba(218, 215, 215, 0.6) ;

}

.t-head{
    text-align: center;
    background-color: var(--nav-bg)!important;
    color: white!important;
}

footer{
    background-color: black;
}


.loan__container{
    padding: 1rem;
    background: var(--bg-secondary);
}

.loan__content{
    padding: .5rem;
    /* background-color: var(--color-contrast); */
    /* background-color: #0D47A1; */
    /* background-color: #310aa5; */
    /* background-color: #081b29; */
    /* background: radial-gradient(ellipse at center top, #0D47A1, #081b29); */
    background: linear-gradient(to bottom, #0D47A1, #081b29);
    height: 10rem;
    border-radius: 10px;
}

/* .table-loan{
    width: 100%;
    background-color: transparent!important;
    display: flex;
    flex-direction: column;

} */

.loan-item{
    background-color: transparent!important;
    text-align: center;
    border-bottom: 1px solid white;
    border-bottom-width:.5px!important ;
}
